<div class="row-layout frame-43">
  <div class="column-layout frame-42">
    <igx-input-group type="border" class="input">
      <igx-prefix>
        <igx-icon class="icon">
          search
        </igx-icon>
      </igx-prefix>
      <input type="text" placeholder="Search Symbol or Name" igxInput />
      <label igxLabel>Label/Placeholder</label>
    </igx-input-group>
    <div class="row-layout frame-41">
      <igx-chip class="chip-2">
        Stocks
      </igx-chip>
      <igx-chip class="chip-2">
        ETFs
      </igx-chip>
      <igx-chip class="chip-2">
        Crypto
      </igx-chip>
      <igx-chip class="chip-2">
        Futures
      </igx-chip>
    </div>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>MDT</span>
        <span igxListLineSubTitle>Medtronic plc</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>AMZN</span>
        <span igxListLineSubTitle>Amazon.com, Inc.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>SQM</span>
        <span igxListLineSubTitle>Sociedad Química y Minera de Chile S.A.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>MULN</span>
        <span igxListLineSubTitle>Mullen Automotive, Inc.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>ALB</span>
        <span igxListLineSubTitle>Albemarle Corporation</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>AQN.TO</span>
        <span igxListLineSubTitle>Algonquin Power &amp; Utilities Corp.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>LYFT</span>
        <span igxListLineSubTitle>Lyft, Inc.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>SFR</span>
        <span igxListLineSubTitle>Appreciate Holdings, Inc.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>NLST</span>
        <span igxListLineSubTitle>Netlist, Inc.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>PG</span>
        <span igxListLineSubTitle>The Procter &amp; Gamble Company</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>MGRX</span>
        <span igxListLineSubTitle>Mangoceuticals, Inc.</span>
        <span igxListAction>
          <igx-icon class="icon-6">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout frame-40">
    <div class="row-layout frame-25">
      <div class="column-layout frame-13">
        <div class="column-layout frame-12">
          <div class="row-layout frame-11">
            <p class="ig-typography__overline content">
              AMZN
            </p>
            <p class="ig-typography__caption text">
              ∙
            </p>
            <p class="ig-typography__overline content">
              NASDAQ
            </p>
          </div>
          <h5 class="content">
            Amazon.com, Inc.
          </h5>
        </div>
        <div class="row-layout frame-7">
          <h3 class="content">
            106.96
          </h3>
          <div class="row-layout frame-6">
            <h6 class="content_2">
              +3.15
            </h6>
            <h6 class="content_2">
              (+ 3.03%)
            </h6>
          </div>
        </div>
        <div class="column-layout frame-12">
          <div class="row-layout frame-9">
            <p class="content">
              After Hours:
            </p>
            <p class="ig-typography__subtitle-1 content">
              $107.15
            </p>
            <p class="ig-typography__subtitle-1 content_2">
              (+ 0.21%)
            </p>
            <p class="ig-typography__subtitle-1 content_2">
              +0.22
            </p>
          </div>
          <div class="row-layout frame-8">
            <p class="ig-typography__body-2 content">
              Closed:
            </p>
            <p class="ig-typography__body-2 content">
              Apr 21, 6:19:43 PM UTC-4
            </p>
            <p class="ig-typography__caption content">
              ∙
            </p>
            <p class="ig-typography__body-2 content">
              NASDAQ
            </p>
            <p class="ig-typography__body-2 content">
              ∙
            </p>
            <a href="url" target="_blank" class="ig-typography__body-1 hyperlink">
              Disclaimer
            </a>
          </div>
        </div>
      </div>
      <div class="row-layout frame-24">
        <div class="column-layout frame-23">
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              PREVIOUS CLOSE
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              DAY RANGE
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              YEAR RANGE
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              MARKET CAP
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
        </div>
        <div class="column-layout frame-23">
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              AVG VOLUME
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              P/E RATIO
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              DIVIDEND YIELD
            </p>
            <p class="ig-typography__caption subtitle-14">
              $103.81
            </p>
          </div>
          <div class="row-layout frame-22">
            <p class="ig-typography__caption subtitle-15">
              PRIMARY EXCHANGE
            </p>
            <p class="ig-typography__caption subtitle-14">
              NASDAQ
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column-layout frame-26">
      <igx-category-chart [dataSource]="fakeStockDataStockData" chartType="line" includedProperties="Month,Open,High,Low,Close" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
    </div>
    <div class="row-layout frame-42">
      <div class="column-layout stocks-3">
        <div class="column-layout frame-11">
          <p class="ig-typography__body-2 apple-inc">
            Apple Inc.
          </p>
          <h6 class="content">
            $165.02
          </h6>
        </div>
        <div class="row-layout frame-37">
          <p class="ig-typography__subtitle-2 aapl">
            AAPL
          </p>
          <div class="row-layout frame-36">
            <p class="ig-typography__subtitle-2 content">
              -1.12%
            </p>
          </div>
        </div>
      </div>
      <div class="column-layout stocks-3">
        <div class="column-layout frame-11">
          <p class="ig-typography__body-2 apple-inc">
            Tesla Inc.
          </p>
          <h6 class="content">
            $165.08
          </h6>
        </div>
        <div class="row-layout frame-37">
          <p class="ig-typography__subtitle-2 aapl">
            TSLA
          </p>
          <div class="row-layout frame-34">
            <p class="ig-typography__subtitle-2 content">
              +1.28%
            </p>
          </div>
        </div>
      </div>
      <div class="column-layout stocks-3">
        <div class="column-layout frame-11">
          <p class="ig-typography__body-2 apple-inc">
            Microsoft Corp
          </p>
          <h6 class="content">
            $285.76
          </h6>
        </div>
        <div class="row-layout frame-37">
          <p class="ig-typography__subtitle-2 aapl">
            MSFT
          </p>
          <div class="row-layout frame-36">
            <p class="ig-typography__subtitle-2 content">
              -0.12%
            </p>
          </div>
        </div>
      </div>
      <div class="column-layout stocks-3">
        <div class="column-layout frame-11">
          <p class="ig-typography__body-2 apple-inc">
            Alphabet Inc Class A
          </p>
          <h6 class="content">
            $105.41
          </h6>
        </div>
        <div class="row-layout frame-37">
          <p class="ig-typography__subtitle-2 aapl">
            GOOGL
          </p>
          <div class="row-layout frame-34">
            <p class="ig-typography__subtitle-2 content">
              +0.11%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column-layout frame-5">
    <div class="column-layout frame-4">
      <div class="column-layout frame-42">
        <div class="row-layout frame-42">
          <button igxButton="raised" igxRipple class="button-2">
            BUY 100 AMZN @MKT
          </button>
          <button igxButton="raised" igxRipple class="button-3">
            SELL 100 AMZN @MKT
          </button>
        </div>
        <div class="row-layout frame-42">
          <button igxButton="raised" igxRipple class="button-2">
            BUY 100 AMZN @BID
          </button>
          <button igxButton="raised" igxRipple class="button-3">
            SELL 100 AMZN @BID
          </button>
        </div>
      </div>
    </div>
    <div class="column-layout frame">
      <p class="content">
        PENDING ORDERS
      </p>
      <igx-grid [data]="fakePendingOrdersPendingOrders" primaryKey="OrderType" displayDensity="cosy" height="653px" class="list">
        <igx-column field="OrderType" dataType="string" header="OrderType" width="93px" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="OrderStatus" dataType="string" header="OrderStatus" width="96px" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="StockSymbol" dataType="string" header="StockSymbol" width="86px" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="Quantity" dataType="number" header="Quantity" width="65px" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="Price" dataType="number" header="Price" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="TimeandDate" dataType="string" header="TimeandDate" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="ExpirationDate" dataType="string" header="ExpirationDate" [filterable]="false" [selectable]="false"></igx-column>
        <igx-column field="OrderID" dataType="number" header="OrderID" [filterable]="false" [selectable]="false"></igx-column>
      </igx-grid>
    </div>
  </div>
</div>
